@if (User.Identity.IsAuthenticated)
{
    <form asp-area="Admin" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="d-inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link nav-link text-white p-0 d-flex align-items-center">
            <i class="fas fa-sign-out-alt me-2"></i>Logout
        </button>
    </form>
}
